extends layout

block styles
  link(rel='stylesheet' href='/styles/signin.css')

block content
  body.text-center
    form.form-signin(action="/auth", method="post")
      if notify
        .alert.alert-dismissible.alert-warning.fade.show(role='alert')
          strong= notify.error
          p=notify.message
      img.mb-4(src='/assets/icon.png', alt='', width='128', height='128')
      h1.h3.mb-3.font-weight-normal Please sign in
      label.sr-only(for='email') Email address
      input#email.form-control(name="email", type='email', placeholder='Email address', required='', autofocus='')
      label.sr-only(for='password') Password
      input#password.form-control(name="password", type='password', placeholder='Password', required='')
      .checkbox.mb-3
        label
          input(name="rememberme", type='checkbox', value='remember-me')
          |  Remember me
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
      p.mt-5.mb-3.text-muted Flu.x
